#portada-contactanos {
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://raw.githubusercontent.com/EmmanuelAguilarM/ZendraLiving/refs/heads/main/assets/images/png/5.png") !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: bottom !important;
  background-size: auto !important;
  margin-top: -11vh;
  height: 101vh;
}

#header-contactanos {
  background-color: transparent !important;
  z-index: 0;
  border: 0px;
}

.form-contactanos-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 12px;
  text-align: center;
}

.contact-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
}

.contact-form input[type=text] {
  padding: 12px 20px;
  border: none;
  width: 250px;
  font-size: 1rem;
  border-radius: 15px;
  color: #83a49c !important;
}
.contact-form input[type=text]::placeholder {
    color: #83a49c !important;
}
.contact-form input[type=text]:focus::placeholder {
    color: #009e78 !important;
}

.contact-form input[type=text]:focus {
  border: none !important;
  color: #009e78 !important;
  box-shadow: none;
}

.contact-form button {
  background-color: #007f5f;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #005f45;
}

#ubicacion-mapa{
    max-width: 1080px;
    width: 100%;
}

#contenedor-resp-desarrollo {
  padding-top: 35px !important;
  padding-bottom: 0px !important;
}
#contactanos-desarrollo-txt {
  margin-bottom: 0px;
}
.padding-bottom-contactanos{
    padding-bottom: 70px !important;
}